@import 'variables.scss';

/******************************
REVOLUTION SLIDER
*******************************/

#content {
  .journal-slider {
    margin-bottom: 20px;
  }
}

.tp-loader {
  -webkit-animation: none !important;
}

.tp-caption {
  overflow: hidden;
  display: block;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s !important;
  text-align: left;
  backface-visibility: hidden;
  a, a:hover {
    color: inherit;
  }
  img {
    float: left;
  }
}


//Timer
.tp-bannertimer, .tp-bannertimer.tp-bottom {
  background-image: none;
  background-color: $red;
  height: 3px;
  z-index: 98;
}

//Hover Arrows
.nav-on-hover {
  .tp-bullets, .tparrows {
    opacity: 0;
  }
}

.nav-on-hover:hover {
  .tp-bullets, .tparrows {
    opacity: 1;
  }
}

.tp-leftarrow,
.tp-leftarrow.default,
.tp-rightarrow,
.tp-rightarrow.default {
  background-image: none;
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0;
  display: block;
  border-radius: 50%;
  color: white;
  transition: color 0.2s;
  &:before {
    transition: color 0.2s;
    content: "\e093";
    font-size: 40px;
    color: inherit;
  }
}

.tp-rightarrow,
.tp-rightarrow.default {
  &:before {
    content: "\e094";
  }
}

.tp-bullets {
  .tp-leftarrow.round,
  .tp-rightarrow.round {
    background-image: none;
    &:before {
      font-size: 20px;
      top: -3px;
    }
  }
}

.slidelink.tp-hidden-caption {
  display: block !important;
  visibility: visible !important;
  top: 0;
}

//Bullets
.tp-bullets.simplebullets.round {
  .bullet {
    background-color: transparent;
    background-image: none;
    transition: all .2s;
    margin-bottom: 2px;
    margin-left: 8px;
    width: 13px;
    height: 13px;
    -webkit-perspective: 1000;
    &.selected, &:hover {
      background-color: transparent;
    }
    &:hover:after {
      content: "";
    }
  }
}

//Thumbs
.full-thumbs {
  .tp-bullets.tp-thumbs {
    width: 100% !important;
    .tp-mask {
      width: 100% !important;
    }
  }
}

.tp-bullets.tp-thumbs {
  width: auto !important;
  height: auto !important;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  .bullet {
    opacity: 1;
    position: relative;
    &.selected, &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}

.tp-bullets.tp-thumbs .bullet {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    transition: opacity .2s;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }
}

/******************************
 SWIPER
*******************************/

.swiper {
  position: relative;
  width: 100%;
}

.swiper-wrapper {
  transition-timing-function: ease-in-out;
  img {
    max-width: 100%;
    height: auto;
  }
}

.swiper-hidden {
  visibility: hidden;
}

.swiper-slide,
.swiper-wrapper {
  height: auto;
}

.post-module .swiper-slide{
  height: 100%;
}

//Arrows / Bullets
.swiper-pagination {
  width: 100%;
  position: relative;
  font-size: 0;
  padding: 5px;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 2px 3px;
  background: $red;
  transition: all 0.1s ease-out;
  &:hover {
    background: $quartz;
    transform: scale(1.2);
  }
  &.swiper-pagination-bullet-active {
    background: $quartz;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #ccc;
  width: 40px;
  height: 40px;
  background-image: none;
  margin-top: 0;
  transform: translateY(-50%);
  transition: all 0.1s ease-out;
  &::before {
    content: "\e60f";
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    color: $quartz;
  }
}

.swiper-button-next::before {
  content: "\e60e";
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

html[dir="rtl"] {
  .swiper-button-next {
    right: auto;
    left: 0;
  }
  .swiper-button-prev {
    left: auto;
    right: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    &::before {
      transform: scale(-1) translate(50%, 50%);
    }
  }
}

/******************************
 JOURNAL SLIDER
*******************************/


.journal-simple-slider {
  .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    img {
      width: 100%;
    }
  }
  .swiper-pagination {
    position: absolute;
    padding: 0;
    width: 100%;
    bottom: 10px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 50px;
  }
  &.nav-on-hover {
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.1s ease-out;
    }
    &:hover {
      .swiper-button-prev,
      .swiper-button-next,
      .swiper-pagination {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.side-column {
  .journal-simple-slider.box {
    background-color: transparent;
  }
}

/******************************
 CAROUSEL
*******************************/

#content .journal-carousel .box-product {
  margin-right: 0;
}

html[dir="rtl"] {
  .journal-carousel.arrows-top {
    .swiper-button-prev,
    .swiper-button-next {
      left: 0;
      right: auto;
      transform: translate(0, 0) scale(-1);
    }
    .swiper-button-prev {
      left: 20px;
      right: auto;
    }
  }
}

.journal-carousel {

  &:not(.has-bullets) {
    margin-bottom: 20px;
  }
  &.bullets-on {
    margin-bottom: 10px;
  }
  &.arrows-top {
    .swiper-button-prev,
    .swiper-button-next {
      top: -60px;
      right: -5px;
      transform: translate(0, 0);
      background-color: transparent;
      &::before {
        font-size: 22px;
      }
    }
    .swiper-button-prev {
      right: 15px;
      left: auto;
    }
  }

  .product-grid-item {
    margin-bottom: 0;
    .product-wrapper {
      margin: 0;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
    }
  }
  .tab-content {
    padding: 0;
    margin-top: 0;
    background-color: transparent;
    margin-bottom: 0;
    overflow: visible;
    border: 0;
    z-index: 98;
  }

  //Tabs
  .htabs {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    a {
      background-color: transparent;
      box-shadow: none;
      border-right-style: solid;
      border-right-width: 1px;
      border-color: $dark;
      color: inherit;
      transition: background-color 0.2s, color .2s;
      float: left;
      padding: 0 15px;
    }
  }
  .htabs.single-tab {
    a, a.selected, a:hover {
      border: none;
      cursor: default;
      background-color: transparent;
      color: inherit;
    }
    a {
      padding: 0;
    }
  }
}

/******************************
FULLSCREEN SLIDER
*******************************/

.journal-fullscreen-slider {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  top: 0;
  z-index: -1;
  .tp-loader {
    display: none;
  }
}

.transparent-overlay {
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#supersized {
  top: -12px;
}

/******************************
CUSTOM SECTIONS
*******************************/

.section-brand,
.section-category,
.carousel-brand,
.carousel-category {
  .quickview-button {
    display: none;
  }
  .product-details {
    padding-bottom: 0;
  }
}

#top-modules,
#bottom-modules {
  .journal2_custom_sections {
    &::before {
      content: "";
      width: calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      height: 40px;
      position: absolute;
      left: -20px;
      right: 0;
    }
  }
}

.gutter-on.custom-sections .box-content{
  margin-bottom:-20px;
}

html[dir="rtl"] {
  #top-modules,
  #bottom-modules {
    .journal2_custom_sections {
      &:before {
        width: 100%;
      }
    }
  }
}

.box-heading.box-sections {
  padding: 0;
  border-width: 0;
}

.no-heading .product-grid {
  padding-top: 0;
}

.box-sections {
  ul {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    li {
      list-style: none;
      border-width: 0;
      border-right-width: 1px;
      border-style: solid;
      border-color: white;
      display: table-cell;
      a {
        display: block;
        text-align: center;
        padding: 0 5px;
        font-size: inherit;
        transition: all .2s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    li:last-of-type {
      border-right-width: 0;
    }
  }
}

.single-section .box-heading ul li a {
  cursor: default;
  padding-left: 10px;
  text-align: left;
  background-color: initial !important;
  pointer-events: none;
  &:hover {
    background-color: inherit;
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 0;
}

.isotope,
.isotope .isotope-item {
  transition-duration: 0.7s;
}

.isotope {
  transition-property: height, width;
}

.isotope .isotope-item {
  transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}

.oc-filter {
  .panel-heading {
    padding: 0;
    height: 40px;
    margin-bottom: 5px;
    background-color: transparent;
  }
  a.list-group-item {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0;
    display: block;
    font-size: 15px;
    color: inherit;
  }
  .list-group-item {
    padding: 10px 0;
    label {
      display: block;
    }
  }
}

/******************************
 BANNER
*******************************/

.banner {
  position: relative;
  margin: 0 auto;
  margin-bottom: -2px;
}

.banner div {
  text-align: center;
  display: none;
  margin: 0 auto;
}

.oc-banner {
  .item {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/******************************
 FILTER MODULE
*******************************/

#content .box-filter {
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: -15px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

#content #button-filter {
  margin: 15px 0;
  float: right;
}

#content .box-filter > li {
  max-width: 200px;
  float: left;
  margin-right: 10px;
}

#content .box-filter > li > span {
  font-size: 15px;
  font-weight: bold;
  padding: 8px 8px 12px 8px;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 8px;
}

#column-right .box-filter > li,
#column-left .box-filter > li {
  min-height: 40px;
  width: 100%;
  display: table;
}

#column-right .box-filter > li > span,
#column-left .box-filter > li > span {
  font-size: 15px;
  font-weight: bold;
  padding: 8px 8px 8px 0;
  min-height: 40px;
  display: block;
  padding-left: 15px;
  line-height: 1.5;
  border-bottom: 1px solid #dbdbdb;
}

#column-right #button-filter,
#column-left #button-filter {
  margin: 15px;
}

#column-right .box-content .box-filter li ul,
#column-left .box-content .box-filter li ul {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
}

//Collapsible Sections

.filter-collapse {
  .box.is-collapsed .box-content {
    display: none !important;
  }

  .sf-icon {
    top: 8px;
  }
  .sf-reset {
    right: 28px;
  }
  .box-heading {
    cursor: pointer;
    &::after {
      content: "\e61d";
      font-size: 12px;
      position: absolute;
      right: 9px;
      transform: rotate(0deg);
    }
  }
  .is-collapsed .box-heading {
    &::after {
      transform: rotate(-90deg);
    }
  }
}

.side-column .journal-sf .box ul li label {
  display: flex;
  align-items: center;
}

.firefox .journal-sf ul label img {
  box-sizing: content-box !important;
}

.sf-reset.sf-both {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  .filter-columns-mobile {
    .journal-sf ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        flex: 0 0 auto;
        &:nth-last-of-type(2) {
          border-bottom-width: 0;
        }
      }
    }
  }
}

/******************************
 WELCOME MODULE
*******************************/

.welcome {
  margin-bottom: 15px;
  h1 {
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
  }
  p {
    font-weight: normal;
    font-size: 13px;
    padding-top: 5px;
  }
}

.side-column {
  .welcome {
    padding: 10px;
    margin-bottom: 0;
    clear: both;
    h1 {
      margin-bottom: 8px;
    }
  }
}

/******************************
STORE PICKER
*******************************/
#content, .side-column {
  .store-picker {
    padding: 10px 10px 0 10px;
    p {
      text-align: left !important;
      padding: 0 0 5px 0;
    }
  }
  .oc-store {
    .box-heading {
      margin-bottom: 10px;
    }
  }
  .store-module {
    padding: 0 10px;
    p {
      margin-bottom: 5px;
    }
    a {
      display: inline-block;
      margin-top: 5px;
    }
  }
}

/******************************
CMS BLOCKS
*******************************/

.cms-blocks, .static-banners {
  display: table;
  width: 100%;
  .blocks {
    margin-right: -20px;
  }
  .box-heading {
    margin-bottom: 20px;
  }
}

.static-banners.journal-carousel {
  display: block;
  > div {
    margin-right: 0;
  }
  .static-banner {
    overflow: hidden;
    margin-bottom: 0;
    padding-right: 0;
    .banner-overlay {
      right: 0;
    }
  }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    margin-top: 0;
  }
  .box-content div.swiper-container {
    padding: 0;
    margin: 0;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 2px;
  }
}

.cms-block {
  position: relative;
  padding-right: 20px;
  margin-bottom: 20px;
  ul, ol {
    padding: 10px 0 0 25px;
    margin: 0;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.gecko, .ie {
  .side-column {
    img {
      max-width: 200px;
    }
  }
}

.block-content {
  display: table;
  width: 100%;
  height: 100%;
}

.static-banners .box-content {
  display: flex;
  flex-wrap: wrap;
}

p {
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.block-icon {
  text-align: center;
  -webkit-backface-visibility: hidden;
  i {
    margin: 0 !important;
    border-radius: inherit;
    img {
      margin:0 !important;
    }
  }
}

.block-icon-left {
  float: left;
  margin-right: 10px;
}

.block-icon-top {
  margin: 0 auto 10px auto;
}

/******************************
 STATIC BANNERS
*******************************/

.static-banners {
  > div {
    margin-right: -20px;
  }
}

.static-banner {
  position: relative;
  padding-right: 20px;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: auto;
    float: left;
  }
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 20px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;
    i {
      margin-right: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &:hover {
    .banner-overlay {
      visibility: visible;
      opacity: 1;
      i {
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.15s ease-out;
      }
    }
  }

  .block-content {
    display: block;
  }
}

#content {
  .static-banners {
    margin-bottom: 0;
  }
}

/******************************
 TEXT ROTATOR
*******************************/

.journal-rotator {
  margin-bottom: 20px;
}

.text-rotator.bullets-on.bullets-center {
  .quovolve-nav {
    bottom: -5px;
  }
}

.rotator-image {
  margin: 15px;
  display: block;
  max-width: 85%;
  height: auto;
  float: left;
  position: relative;
}

.rotator-image.image-center {
  margin: 15px auto 0 auto !important;
}

.rotator-text {
  padding: 12px;
  display: block;
  line-height: 1.3;
  position: relative;
  font-weight: inherit;
  font-size: inherit;
  > div {
    float: left;
  }
}

.has-cta {
  .rotator-text {
    display: inline-block;
  }
}

.cta-center {
  .rotator-text {
    display: block;
    margin-bottom: 5px;
  }
}

.rotator-author {
  display: block;
  position: relative;
  padding: 0 15px;
}

.bullets-on {
  .rotator-author {
    padding-bottom: 8px;
  }
  .quote {
    padding-bottom: 20px;
  }
}

.bullets-off {
  .rotator-author {
    margin-bottom: 10px;
  }
}

.quovolve-nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  ol {
    margin: 0;
    text-align: right;
    padding: 0 10px 7px 20px;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

.headline-mode .quote.has-cta.cta-center {
  overflow: visible;
}

.headline-mode{
  .rotator-text span:empty{
    padding:0;
  }
}

.quote {
  text-align: left;
  overflow: hidden;
  padding-bottom: 2px; //Demo 4 clips the button bottom border
  .cta {
    position: relative !important;
    white-space: nowrap;
    i {
      float: left;
      font-size: 1.1em;
    }
    &.button-center {
      margin-bottom: 10px;
    }
  }
  &.no-text{
    overflow: visible;
  }
}

@media only screen and (max-width: 760px){
  .headline-mode .rotator-text.line-through::before{
    width: 125%;
  }
}

.headline-mode {
  .rotator-text {
    padding: 0;
    span{
      position: relative;
      display: inline-block;
      padding: 12px;
    }
    line-height: 1.1;
    &.line-through::before{
      content: "";
      width: 150%;
      height: 1px;
      background: currentColor;
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translateX(-50% );
      z-index: 0;
    }
  }
  .quovolve-nav {
    ol {
      padding-bottom: 2px;
    }

  }
  .quote {
    .button-icon-right {
      i {
        margin-right: 0 !important;
        margin-left: 7px;
        float: right;
      }
    }
  }
  &.align-left {
    //padding-left: 20px;
    //padding-right: 20px;
    .quote > div{
      justify-content: flex-start;
    }
  }
  &.align-right{
    .quote > div{
      justify-content: flex-end;
    }
  }
}

.bullets-left {
  .quovolve-nav {
    ol {
      text-align: left;
    }
  }
}

.bullets-center {
  .quovolve-nav {
    ol {
      text-align: center;
    }
  }
}

.bullets-right {
  .quote {
    padding-bottom: 30px;
  }
  .quovolve-nav {
    ol {
      text-align: right;
    }
  }
}

.nav-numbers a {
  color: transparent !important;
  background-color: transparent;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 4px;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-perspective: 1000;
  &:hover:after {
    content: "";
  }
}

/******************************
 PHOTO GALLERY
*******************************/

.journal-gallery {
  .box-heading {
    margin-bottom: 15px;
  }
  .box-content {
    margin-right: -15px;
    overflow: hidden;
    width: auto;
  }
  &.arrows-top {
    .box-content {
      overflow: visible;
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: -55px;
    }
  }
}

.journal-carousel {
  .box-content {
    margin-right: 0;
  }
  .gallery-thumb {
    padding-right: 0;
    margin-bottom: 0;
  }
}

.oc-module {
  display: table;
  width: 100%;
  &.oc-html {
    display: block;
  }
}

.gallery-thumb {
  padding-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  a {
    display: block;
    position: relative;
    overflow: hidden;
    &:before {
      content: "\e015";
      position: absolute;
      font-size: 30px;
      color: white;
      z-index: 99;
      transition: all .2s;
      visibility: hidden;
      opacity: 0;
      padding: 0 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  img {
    width: 100%;
    float: right;
    height: auto;
    border-radius: inherit;
  }
  .item-hover {
    position: absolute;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transition: all .2s;
    border-radius: inherit;
    cursor: pointer;
  }
}

.gallery-thumb > a:hover {
  .item-hover {
    transition: all .2s;
    visibility: visible;
    opacity: 1;
  }
}

.gallery-thumb > a:hover:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

/******************************
LightGallery
*******************************/

.lg-backdrop {
  z-index: 99999;
  background-color: rgba(0, 0, 0, .9);
}

.lg-outer {
  z-index: 999999;
  .lg-thumb-outer {
    text-align: center;
  }
  .lg-image {
    max-height: calc(100% - 100px);
    margin-top: 6px;
  }
}

.lg-toolbar,
.lg-sub-html {
  min-height: 50px;
  background-color: transparent;
}

.lg-toolbar .lg-icon {
  color: white;
  font-size: 28px;
  width: 45px;
  text-align: inherit;
  padding: 12px 0;
  transition: color .1s linear;
}

#lg-intense-zoom {
  position: absolute;
  right: 45px;
  width: 50px;
  height: 50px;
  top: 0;
  cursor: pointer;
  color: white;
  transition: all 0.1s ease-out;
  &::before {
    content: "\e015";
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#lg-counter {
  color: $e4;
  font-size: 18px;
}

.lg-sub-html {
  padding: 13px 70px;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
  color: $e4;
}

.lg-icon::before,
.lg-icon::after {
  font-family: 'lg';
}

//Thumbs

.lg-thumb.group {
  display: inline-block;
}

.lg-outer {
  .lg-thumb-outer {
    background: black;
  }
  .lg-thumb-item {
    margin-bottom: 0;
    border: 3px solid $gray;
    border-radius: 1px;
    &.active, &:hover {
      border-color: white;
    }
  }
  .lg-thumb {
    padding: 12px 0;
    margin-bottom: 0;
  }
  .lg-toogle-thumb {
    height: 40px;
    top: -40px;
    width: 45px;
    color: $e4;
  }
  .lg-toogle-thumb:after {
    margin-top: 1px;
  }
}

/******************************
ADVANCED GRID
*******************************/

.multi-modules-wrapper {
  overflow: hidden;
}

.multi-modules-column {
  height: 100%;
}

.multi-modules-row {
  overflow: hidden;
  position: relative;
}

.tp-caption.fullscreenvideo{
  height:100% !important;
  video{
    width:auto;
    background: transparent;
  }
}

//Revo Overwrites
.multi-modules-row {
  .tp-banner-container {
    height: 100% !important;
    max-width: 100% !important;
  }
  .tp-banner {
    .slot, .slot div {
      width: 100% !important;
      height: 100% !important;
    }
  }
}


@media only screen and (max-width: 760px){
  .multi-modules-column:last-of-type{
    .multi-modules-row:last-of-type{
      //margin-bottom:0 !important;
    }
  }
  .multi-modules-column .multi-modules-row{
    margin-bottom:20px;
  }
  .multi-modules-wrapper{
    .tp-banner{
      //height: 100% !important;
    }
  }
  #content .multi-modules .journal-slider{
    margin-bottom:0;
  }
  .multi-modules-column:only-of-type > .multi-modules-row:only-of-type,
  .multi-modules-column:last-of-type > .multi-modules-row:last-of-type{
    margin-bottom: 0;
  }
}

.tp-banner {
  .slot, .slot div {
    width: 100% !important;
    height: 100% !important;
  }
}

.multi-modules {
  .static-banners {
    .box-heading {
      margin-right: 0;
    }
  }
}

#top-modules, #bottom-modules {
  .multi-modules {
    .static-banners {
      padding: 0 !important;
    }
  }
}

.multi-modules {
  display: flex;
  flex-wrap: wrap;
  .static-banner, .journal-simple-slider, .static-banners > div {
    margin: 0 !important;
    padding: 0 !important;
    .banner-overlay {
      right: 0;
    }
    .journal-carousel {
      margin-bottom: 0;
    }
  }
}

.multi-modules {
  .static-banners.journal-carousel {
    margin-bottom: 0;
  }
}

.container-dimensions {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background: brown;
  color: white;
  z-index: 97;
  display: none;
  &::after {
    font-size: 10px;
    content: "(Visible to admins only)";
    display: none;
  }
}

.multi-modules-row:hover .container-dimensions {
  display: block;
}

/******************************
NEWSLETTER
*******************************/
.journal-newsletter {
  margin-bottom: 20px;
  .box-content {
    border-radius: inherit;
    display: table;
    width: 100%;
  }
  input + .button {
    margin-top: 10px;
  }

  &.text-left {
    .box-content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .newsletter-text {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      float: left;
      width: 50%;
      padding-right: 20px;
      text-align: left;
      line-height: 1.2;
    }
    .newsletter-input-wrap {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      overflow: hidden;
      input {
        width: 100%;
        height: 100%;
        box-shadow: none;
      }
      .newsletter-button {
        position: absolute;
        top: 0;
        right: 0;
      }
      input + .button {
        margin-top: 0;
      }
    }
  }
  &.text-top {
    .newsletter-text {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: left;
      line-height: 18px;
    }
    .newsletter-input-wrap {
      display: block;
      position: relative;
      width: 100%;
      input {
        width: 100%;
        height: 100%;
        box-shadow: none;
        border: 0;
      }
      .newsletter-button {
        position: absolute;
        top: 5px;
        right: 3px;
      }
      input + .button {
        margin-top: 0;
      }
    }
  }
}

.side-column {
  .journal-newsletter {
    .newsletter-text {
      float: none;
      width: 100% !important;
      margin-bottom: 10px;
      padding: 0;
    }
    .newsletter-input-wrap {
      float: none;
      width: 100% !important;
      height: auto !important;
      text-align: center;
      input {
        margin-bottom: 5px;
      }
      .newsletter-button {
        position: relative;
        left: auto !important;
        right: auto !important;
        width: 100%;
      }
      input + .button {
        margin-top: 0;
      }
    }
  }
}

/******************************
 SUPER FILTER
*******************************/

.main-products {
  position: relative;
  height: 100%;
}

.product-list {
  .sf-loader {
    right: 0;
  }
}

.sf-loader {
  min-height: 2000px;
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
  font-size: 14px;
  z-index: 99;
  left: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  span {
    padding: 5px 10px;
    display: block;
    -webkit-font-smoothing: auto;
  }
}

.side-column .journal-sf .box-filter > li {
  min-height: 0;
}

.sf-reset {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 99;
  transition: color .2s;
  .sf-reset-icon:after {
    font-size: 15px;
  }
}

.sf-reset-icon:after {
  content: "\e601";
  font-size: 14px;
  position: relative;
  margin-left: 5px;
  float: right;
}

.sf-text {
  right: 7px;
  .sf-reset-icon {
    display: none;
  }
}

.sf-icon {
  top: 10px;
  &:before {
    border-top-color: $blue;
    display: block;
  }
  &:after {
    display: block;
    background-color: $blue;
    padding: 6px 9px;
  }
  .sf-reset-text {
    display: none;
  }
  .sf-reset-icon:after {
    font-size: 20px;
    position: relative;
    margin-left: 1px;
    top: -2px;
  }
}

.sf-price {
  .ui-slider-horizontal {
    height: auto;
  }

  .ui-widget-content {
    border: none;
    background: white;
  }
  .ui-widget-header {
    background: $red;
    border: none;
  }

  .ui-slider-handle {
    width: 16px;
    height: 16px;
    top: 0;
    cursor: pointer;
    background: $blue;
    border: 0;
    border-radius: 0;
    transition: background 0.2s;
  }

  .value {
    position: absolute;
    font-size: 11px;
    color: white;
    background: $blue;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 36px;
    text-align: center;
    display: block;
    padding: 2px 3px;
    font-family: $sans;
    &:after {
      content: "";
      position: absolute;
      border: 7px solid transparent;
      border-bottom: 7px solid $blue;
      border-radius: 0;
      top: -12px;
      left: 50%;
      margin-left: -7px;
    }
  }

  .price-range-both.value {
    min-width: 72px;
    margin: 0 0 0 -36px;
    top: 19px;
  }

  .price-range-both {
    display: none;
  }

  &.sf-input {
    .box-content {
      margin-bottom: 20px;
      padding: 12px;
      display: flex;
      flex-wrap: wrap;
      span {
        position: relative;
        display: inline-block;
        width: 49%;
        display: flex;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        &:first-of-type {
          padding-right: 5px;
        }
        &:last-of-type {
          padding-left: 5px;
        }
        label {
          font-size: 16px;
          cursor: default;
          padding-right: 5px;
          line-height: 30px;
          float: left;
        }
        input {
          float: left;
          width: 84%;
          max-height: 30px;
        }
        &.currency-right {
          label {
            float: right;
            padding-right: 0;
          }
          input {
            width: 82%;
          }
        }
      }
      .button {
        display: block;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.journal-sf {
  img {
    height: auto;
  }
  .box-content {
    display: block;
    overflow: auto;
  }
  .sf-price {
    .box-content {
      overflow: visible;
    }
  }

  &:before {
    border-top-color: $blue;
    display: block;
  }
  &:after {
    display: block;
    background-color: $blue;
    padding: 6px 9px;
    border-radius: 3px;
  }
  position: relative;
  ul {
    border-radius: inherit;
    overflow: hidden;
    li {
      border-bottom: 1px solid $dark;
      &:last-of-type {
        border-bottom: none;
      }
    }
    label {
      width: 100%;
      display: block;
      transition: color 0.2s;
      font-weight: normal;
      margin: 0;
      padding: 0;
      img {
        transition: border-color 0.1s;
      }
      input[type=checkbox] {
        position: relative;
        margin: 0 5px 0 0;
        flex-shrink: 0;
      }
    }
    &.hide-checkbox {
      label {
        input[type=checkbox] {
          display: none;
        }
      }
    }
  }
}

.journal-sf {
  .sf-both {
    ul {
      label {
        img {
          vertical-align: middle;
          margin: 0 5px 0 22px;
          float: left;
          display: block;
          max-width: 42px;
        }
        .sf-name {
          line-height: 100%;
          vertical-align: middle;
          height: 42px;
          max-width: 135px;
          //display: table-cell;
          display: flex;
          align-items: center;
        }
        input[type=checkbox] {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.hide-checkbox {
        label {
          img {
            margin-left: 0;
          }
          input[type=checkbox] {
            display: none;
          }
        }
      }
    }
  }
  .sf-image {
    .box-content {
      overflow: hidden;
      overflow-y: auto;
      max-height: 310px;
      ul {
        display: block;
        li {
          border-bottom: none !important;
          float: left;
          width: 25%;
          padding: 0;
          padding-left: 0 !important;
          padding-top: 0 !important;
        }
        label {
          width: 100%;
          display: block;
          img {
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
          }
          input[type=checkbox] {
            display: none;
          }
        }
        &.hide-checkbox {
          label {
            input[type=checkbox] {
              display: none;
            }
          }
        }
      }
    }
  }
}

/******************************
 POPUP
*******************************/

.mfp-removing {
  .journal-popup {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(.7);
  }
  &.mfp-bg {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
}

.hide-close-button button{
  display: none;
}


.mfp-close {
  opacity: 1;
  transition: all 0.2s;
}

.quickview .journal-popup-header .heading-title {
  text-align: center;
}

.journal-popup {
  position: relative;
  background: white;
  margin: 0 auto;
  img {
    max-width: 100%;
    height: auto;
  }
  .journal-newsletter {
    margin-bottom: 0;
    padding: 0 20px;
    .box-content {
      padding: 0 !important;
      background-color: transparent !important;
    }
  }
  .mfp-close {
    color: white;
    top: -38px;
    right: -16px;
  }

  * {
    box-sizing: border-box;
  }
  .journal-popup-header-content {
    text-align: center;
    border: 0;
    border-radius: 0;
    white-space: normal;
    padding: 10px;
    line-height: 1.3;
  }
  .button-icon-right i {
    float: right;
    margin-right: 0 !important;
    margin-left: 5px;
  }
  .journal-popup-header {
    border-radius: 0;
  }
}

.journal-popup-content {
  overflow: hidden;
  color: $dark;
}

.journal-popup-content.overflow-on {
  overflow: auto;
}


@media only screen and (max-width: 760px){
  .journal-popup-content.overflow-on {
    overflow-y: scroll;
    max-height: 50vh;
    -webkit-overflow-scrolling: touch;
  }
}

.journal-popup-header,
.journal-popup-footer,
.journal-popup-newsletter {
  display: table;
  width: 100%;
}

.journal-popup-header-content,
.journal-popup-footer-content,
.journal-popup-newsletter-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.journal-popup-footer-content {
  text-align: left;
  padding-left: 10px;
  background-color: $f4;
  position: relative;
  .button {
    margin: 8px 0;
  }
  &.has-btn {
    text-align: center;
    .button:first-of-type {
      margin-right: 8px;
    }
    .dont-show-label {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.ie:not(.edge){
  .journal-popup-footer-content {
    &.has-btn {
      .dont-show-label {
        transform: translateY(0);
      }
    }
  }
}

.dont-show-label {
  label {
    font-weight: normal;
    display: inline-flex;
    align-items: center;
  }
  input[type='checkbox'] {
    margin-right: 5px;
    position: relative;
  }
}

.journal-popup,
.post-comment {
  input.has-error,
  textarea.has-error {
    border: 1px solid red;
  }
}

/******************************
POPUP FORM
*******************************/

.journal-popup-contact {
  .content, fieldset {
    padding: 15px;
    b {
      display: inline-block;
      margin: 9px 0 4px 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        display: block;
        + br {
          display: none;
        }
      }
    }
    textarea + br {
      display: none;
    }
    input[name='captcha'] {
      margin: 0 10px 0 0;
      height: 35px;
      display: block;
      float: left;
    }
  }
  input + br, input + br + br {
    display: none;
  }
  input[type='text'],
  input[type='email'] {
    max-width: 600px;
  }
}

.has-error {
  //border: 1px solid $red !important;
}

.oc2 {
  .journal-popup-contact {
    .form-horizontal .form-group label {
      width: 100%;
      float: none;
      padding-top: 0;
      font-weight: bold;
      margin-bottom: 2px;
      &:before {
        display: none;
      }
    }
    .form-horizontal .form-group label + div {
      width: 100%;
      float: none;
    }
    .pull-right {
      float: none;
    }
  }
}

/*****************************
BLOG
*******************************/

//POST GRID

.journal-carousel {
  .posts.box-content {
    display: block;
  }
  > div.posts {
    overflow: visible;
  }
  .post-button {
    margin-top: auto;
  }
}

@media only screen and (max-width: 760px){
  .journal-carousel {
    clear: both;
  }
  .journal-carousel .htabs a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.blog-grid-view,
.journal-carousel,
.post-module{
  .post-button {
    margin-top: auto;
  }
}

.posts {
  margin: 20px -20px 0 0;
  text-align: center;
  h2 {
    padding: 10px 0 5px 0;
    display: table;
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 16px;
    table-layout: fixed;
    font-weight: normal;
    a {
      display: table-cell;
      vertical-align: middle;
      transition: color 0.2s;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}


.post-item-details.post-content-aligncenter,
.post-button{
  text-align: center;
  .comment-date{
    margin: 0 auto;
  }
}

.post-item-details.post-content-alignright{
  text-align: right;
  .comment-date{
    width: 100%;
  }
}

html[dir="rtl"] .post-item-details.post-content-aligncenter,
html[dir="rtl"] .post-button{
  text-align: center !important;
  .comment-date{
    margin: 0 auto;
  }
}

.post-module.journal-carousel.gutter-on {
  padding-bottom: 0 !important;
}

.post-item-details {
  text-align: center;
  overflow: hidden;
}


.blog-grid-view{
  .post-wrapper .post-text {
    flex-grow: 1;
  }
}

.post-content-alignright{
  .post-button {
    align-self: flex-end;
  }
}
.post-content-aligncenter{
  .post-button {
    align-self: center;
  }
}


html[dir="rtl"] {
  .post-button {
    text-align: right;
  }
}

.post-image {
  &:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
  }
  img {
    width: 100%;
    height: auto;
    float: left;
  }
}

.post-item:not(.swiper-slide) {
  margin-bottom: 20px;
}

.post-wrapper {
  margin-right: 20px;
  //overflow: hidden;
  transition: all 0.2s;
  .swiper-container & {
    margin-right: 0;
  }
}

.post-text {
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  span {
    display: block;
  }
}

.post-view-more.button {
  margin: 5px 0 15px 0;
  padding: 10px;
  line-height: 100% !important;
}

.post-button-left-icon:before {
  margin-right: 5px;
  &:before {
    transition: all 0.2s;
  }
}

.post-button-right-icon {
  display: none;
  &:before {
    transition: all 0.2s;
    margin-left: 5px;
  }
}

.blog-list-view {
  .post-view-more {
    margin: 5px 0 5px 0;
  }
}

.comment-date {
  padding: 7px 0 8px 0;
  border-top: 1px solid $e4;
  border-bottom: 1px solid $e4;
  display: inline-block;
  color: #999;
  font-size: 12px;
  span {
    display: inline-block;
    position: relative;
    text-align: left;
    &:before {
      margin-right: 4px;
      position: relative;
      display: inline-block;
      font-size: 13px;
    }
  }
}

.p-author {
  margin-right: 7px;
  &:before {
    content: "\e1b8";
  }
}

.p-date {
  margin-right: 7px;
  &:before {
    content: "\e6b3";
  }
}

.p-comment {
  &:before {
    content: "\e1ae";
  }
}

.p-category a + span {
  display: inline-block !important;
}

.p-category a:last-of-type + span {
  display: none !important;
}

.p-category {
  &:before {
    content: "\e6b2";
  }
  > a {
    transition: all 0.2s;
    margin-left: 5px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type + span {
      display: none;
    }
  }
}

//POST LIST

.posts.blog-list-view {
  text-align: left;
  margin: 20px 0 0 0;
  display: table;
  width: 100%;
  > div {
    width: 100% !important;
  }
  .post-image {
    float: left;
    padding-right: 15px;
    overflow: hidden;
    width: 33.333333%;
  }
  h2 {
    padding: 0;
    margin-top: 0;
    a {
      height: auto !important;
      display: block;
      white-space: normal;
      span {
        display: inline-block;
        border-bottom: 1px solid $e4;
        padding: 0 0 7px 0;
      }
    }
  }
  .post-item-details {
    float: left;
    width: 66.666666%;
    padding: 0;
    text-align: left !important;
  }
  .post-wrapper {
    margin-right: 0;
    padding: 10px;
  }
  .post-text {
    padding: 10px 10px 8px 0;
  }
  .comment-date {
    padding: 5px 0;
    border: 0;
  }
}

/******************************
 Post Page
*******************************/

.blog-post {
  .heading-title {
    margin-bottom: 0;
  }
  .post-stats {
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
    .p-posted {
      margin-right: 2px;
    }
    > span {
      margin-right: 10px;
      display: inline-block;
      clear: both;
      &:before {
        display: inline-block;
        margin-right: 4px;
        position: relative;
        float: left;
      }
      &.p-category:before {
        margin-right: 6px;
      }

    }
    &.comment-date {
      border-width: 0;
      display: block;
    }
  }
  .social {
    border-top: 1px solid $ee;
    margin-top: 15px;
    clear: both;
    padding: 12px 8px 0 0;
    margin-bottom: 0;
    background-position: 0 center;
    background-color: inherit !important;
    background-image: none;
  }
  .social-loaded {
    display: inline-block;
    display: inline-flex;
  }
  .tags {
    margin: 15px 10px 15px 0;
    font-size: 13px;
    a, b {
      display: initial;
      border-radius: 0;
      transition: all 0.2s;
      margin-right: 4px;
    }
    a {
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 760px) {
  .post-stats.comment-date {
    padding-bottom: 1px;
  }
}

.post-details {
  overflow: hidden;
  font-size: 14px;
  img {
    max-width: 100%;
    height: auto;
  }
  &:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
  }
  .tags {
    line-height: initial;
  }
}

blockquote {
  padding: 0 0 0 15px;
  border-width: 0;
  border-left: 10px solid $red;
  margin: 20px;
  line-height: 20px;
  font-style: italic;
}

.comments {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.3;
  > .comment {
    color: $dark;
    position: relative;
    margin-top: 20px;
    padding: 13px 13px 7px 13px;
    p {
      font-size: 14px;
    }
    &:first-of-type {
      margin-top: 0;
    }
    &:nth-child(even) {
      background-color: $f4;
    }
    &:nth-child(odd) {
      background-color: $f4;
    }
    &:after {
      content: "";
    }
  }
  > h3 {
    padding: 15px 0;
    font-size: 17px;
  }
  .avatar {
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .user-name {
    font-size: 18px;
    font-weight: bold;
  }
  .user-date {
    margin: 2px 0 4px 0;
    font-size: 11px;
    color: $gray;
    &:before {
      margin-right: 3px;
      position: relative;
    }
  }
  .user-time {
    &:before {
      margin-right: 3px;
      position: relative;
    }
  }
  .user-site {
    font-size: 13px;
  }
  .reply-btn {
    position: absolute;
    top: 12px;
    right: 13px;
    line-height: 100%;
    padding: 8px 10px;
  }
  .comment {
    position: relative;
    > p {
      padding-bottom: 5px;
    }
  }
  .comment + .success {
    margin-top: 20px;
    color: $dark;
  }
  .reply + .success {
    margin-top: 15px;
    margin-left: 85px;
    width: auto;
  }
  .main-comment + .success {
    margin-top: 15px;
  }
  .reply {
    position: relative;
    padding: 13px 13px 7px 13px;
    margin-left: 85px;
    margin-top: 15px;
    &:nth-of-type(even) {
      background-color: darken($ee, 2%);
    }
    &:nth-of-type(odd) {
      background-color: darken($ee, 2%);
    }
    &:after {
      content: "";
    }
  }
}

.post-comment {
  margin-bottom: 20px;
  h3 {
    padding: 15px 0;
    font-size: 17px;
  }
}

.comment-submit.button, .reply-submit.button {
  display: inline-block;
  margin-top: 10px;
  line-height: 100%;
  padding: 10px;
}

.comment-form form {
  > div {
    input {
      display: block;
      max-width: 350px;
      margin-bottom: 10px;
    }
  }
}

.reply .main-comment .button {
  display: none;
}

.reply-form {
  margin-left: 85px;
  h3 {
    border-bottom-width: 0;
    padding: 15px 0;
  }
  .comment-form {
    padding: 0;
    background-color: transparent;
  }
}

.has-error .form-control {
  border: 1px solid $red !important;
}

.button.disabled {
  opacity: .7;
  cursor: wait;
}

/******************************
 Blog Modules
*******************************/

//POSTS
.side-posts .box-post {
  overflow: hidden;
  position: relative;
}

.post-module.no-heading {
  .posts {
    margin-top: 0;
  }
}

.post-module {
  display: table;
  width: 100%;
  &.journal-carousel {
    display: block;
  }
}

//SIDE POSTS
.side-blog .box-post {
  padding: 10px 0 0 0;
}

.side-blog .box-category.box-post {
  padding: 0;
}

.side-post + hr {
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: $f4;
}

.side-post {
  margin-bottom: 10px;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:last-of-type + hr {
    display: none;
  }
  .comment-date {
    border-bottom: none;
    border-top: none;
    display: block;
    width: 100%;
    padding: 0;
  }
  .p-comment {
    margin-right: 0;
  }
  .p-date {
    margin-right: 10px;
  }
}

.side-post-details {
  float: left;
  width: 75%;
}

.side-post-image {
  width: 20%;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 5%;
  img {
    width: 100%;
    height: auto;
    float: left;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.side-post-title {
  display: block;
  margin-bottom: 6px;
  transition: all 0.2s;
}

//COMMENTS
.blog-comments {
  img {
    max-width: 55px;
    height: auto;
  }
  .p-user {
    &:before {
      display: block;
      float: left;
    }
  }
}

.comment-author {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//TAGS

.side-blog-tags {
  .box-tag {
    overflow: hidden;
    > div {
      margin-bottom: -7px;
      overflow: hidden;
    }
    a {
      float: left;
      display: block;
      background-color: $quartz;
      color: white;
      margin: 0 6px 6px 0;
      padding: 3px 7px 5px 7px;
      transition: all 0.2s;
      &:hover {
        background-color: $lightquartz;
      }
    }
  }
}

//BLOG SEARCH
.box-search {
  position: relative;
  height: 33px;
  a {
    display: table;
    width: 33px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2px;
    transition: color 0.2s;
    padding-left: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-color: $e4;
    &:before {
      content: '\e697';
      font-size: 18px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      color: #ccc;
    }
  }
}

//FOOTER POSTS

.column.posts {
  margin: 0;
  h3 {
    margin-bottom: 7px;
  }
  > div {
    margin-bottom: 0;
  }
}

.footer-post {
  padding: 6px 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: transparent;
  .comment-date {
    padding: 5px 0 0 0;
    color: $e4;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

.footer-post-image {
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.footer-post-title,
.footer-post .comment-date {
  display: block;
  text-align: left;
  border-width: 0;
  transition: all 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer-post .comment-date {
  font-size: 11px;
  padding: 3px 0 0 0;
  span:before {
    font-size: 12px;
  }
}

.journal-blog-feed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: all 0.2s;
  color: #222;
  font-size: 13px;
  font-weight: 400;
  &:before {
    content: "\e6b4";
    color: #FF8000;
    margin-right: 5px;
    position: relative;
    float: left;
    font-size: inherit;
  }
}

/******************************
HEADER NOTICE
*******************************/

.header-notice {
  line-height: 1.25;
  font-size: 14px;
  position: relative;
  min-height: 15px;
  z-index: 9000;
  display: table;
  width: 100%;
  > div {
    margin: 0 auto;
    position: relative;
    //padding: 10px 0 10px 0;
  }
  i {
    margin-right: 8px !important;
    &:before {
      float: left;
    }
  }
  a {
    transition: all 0.2s;
  }
  &.floated-icon {
    > div {
      padding-bottom: 10px;
    }
    i {
      float: left;
    }
    .notice-text {
      display: block;
    }
  }
  &.center-notice {
    text-align: center;
    .notice-text {
      margin-right: 50px;
      justify-content: center;
      span {
        flex-grow: 0;
      }
    }
    i:before {
      float: none;
    }
  }
  &.right-notice {
    text-align: right;
    .notice-text {
      width: calc(100% - 100px);
      width: -webkit-calc(100% - 100px);
      margin-right: 50px;
    }
    i:before {
      float: none;
    }
  }
  &.fullwidth-notice {
    > div {
      max-width: 100%;
      padding: 10px 0 10px 15px;
    }
  }
  .notice-text {
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    display: flex;
    align-items: center;
    i {
      flex: 0 0 auto;
    }
    span {
      flex-grow: 1;
    }
  }
}

button.close-notice {
  cursor: pointer;
  padding: 0 12px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  transition: all 0.1s;
  border-radius: 0 !important;
  font-weight: 400;
  color: $dark;
  &:hover {
    color: $red;
  }
  &::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

html[dir="rtl"] {
  button.close-notice {
    right: auto;
    left: 0;
  }
  .header-notice {
    i {
      margin-right: 0 !important;
      margin-left: 8px;
      &:before {
        float: left;
      }
    }
    &.floated-icon {
      i {
        float: right;
      }
    }
  }
}

button.close-notice.x-icon {
  &:before {
    content: "\e602";
    font-size: 24px;
  }
}

@media only screen and (max-width: 760px) {
  .header-notice {
    i {
      float: left;
    }
  }
}

#content .journal-accordion {
  margin-bottom: 20px;
}

.journal-accordion {
  .journal-accordion-heading {
    transition: all 0.05s ease-out;
    cursor: pointer;
    background-color: $f4;
    color: #444;
    border-bottom-color: $e4;
    padding: 12px;
    &::after {
      color: inherit;
      background: none;
      content: "\e620";
      font-size: 11px;
      position: absolute;
      right: 5px;
      width: auto;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.05s ease-out;
    }
  }
  [data-accordion].open > .journal-accordion-heading::after {
    transform: rotate(90deg);
    margin-top:-3px;
  }
  .journal-accordion-content {
    background: $ee;
    color: #333;
    > * {
      border-bottom: 0;
      padding: 0;
    }
    > div {
      padding: 13px;
      line-height: 1.4;
    }
  }
}

/******************************
 Firefox
*******************************/
.firefox {
  .dont-show-label {
    input[type='checkbox'] {
      //margin-right: 0;
      margin-left: 10px;
    }
  }
  .journal-popup-footer-content {
    .button {
      line-height: 39px;
    }
  }
  .tp-caption {
    outline: 1px solid transparent;
  }
  .comment-date span {
    &:before {
      margin-top: -2px;
    }
  }
}

.safari {
  .html5vid {
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    video {
      object-fit: cover;
    }
  }
}

.ie:not(.edge) .safari5 {
  .main-products {
    width: 100%;
    display: table;
  }
}

